{% extends 'index.html' %}

{% block title %}Home - Your App{% endblock %}

{% block content %}
    <h3>Assign students</h3>
    {% if teacher_form %}
        <p>These students have been assigned to {{teacher_form}}.</p>
        <ul>
           {% for student_name in student_form%}
           <li>{{student_name}}</li>
           {% endfor %}
        </ul>
    {% endif %}
        <form method="post" action="{% url 'admin_assign_students' %}">

            {% csrf_token %}
            
            <label for="selectTeacher">Select a teacher</label>
            <select id="selectTeacher" name="teacher_selected">
                {% for teacher in teachers %}
                <option value="{{teacher}}">{{teacher}}</option>
                {% endfor %}
              </select>
              <br>
              {% for student in students %}
                <div style="display: flex;align-items: center; justify-content: center; margin:10px">
                <label for="{{student}}id">{{student}}</label>  
                <input id="{{student}}id"  type="checkbox"  name="student" value="{{student}}">
                </div>
                
              {% endfor %}
              <br>
              <button type="submit" name="submit">submit</button>
    </form>
{% endblock %}