{% extends 'index.html' %}

{% block content %}
<h2>Login</h2>
{% if user.is_authenticated %}
<p>You are logged in as {{request.user}}</p>
<form method="post" action="{% url 'user_logout' %}">
{% csrf_token %}
<button type="submit">Logout</button>
</form>
{% else %}
<p>To use the app you will need to either log in as a teacher or a student. The teacher can edit which times tables their students study, view their results and print flaschcards. Students can practise the times tables their teacher has set.</p>
<h3>Teacher account</h4>  
<p>username: teacher</p>
<p>password: pword123</p>
<h3>Student accounts</h4>
<p>username: pupil1</p>
<p>password: pword123</p>
<p>username: pupil2</p>
<p>password: pword123</p>
<form class="form" method="post" action="{% url 'user_login' %}">
{% csrf_token %}
<p>Username</p>
<input name="username" type="text">
<p>Password</p>
<input name="password" type="password">
<br>
<button type="submit">Login</button>
</form>
{% endif %}
{% if loginfailedmessage %}
{{loginfailedmessage}}
{%endif%}
  
{% endblock %}
