{% extends 'index.html' %}

{% block content %}
<div class="login">

{% if user.is_authenticated %}
<p>You are logged in as {{request.user}}</p>
<form method="post" action="{% url 'user_logout' %}">
{% csrf_token %}
<button type="submit">Logout</button>
</form>
{% else %}
<form class="form" method="post" action="{% url 'user_login' %}">
  <h2>Login</h2>
{% csrf_token %}
<p>Username</p>
<input name="username" type="text">
<p>Password</p>
<input name="password" type="password">
<br>
<button type="submit">Login</button>

<table>
  <h4>
    Demo accounts
  </h3>
  <thead>
    <tr>
      <th>Account type</th>
      <th>Username</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Teacher</td>
      <td>teacher</td>
      <td>pword123</td>
    </tr>
    <tr>
      <td>Student</td>
      <td>pupil1</td>
      <td>pword123</td>
    </tr>
    <tr>
      <td>Student</td>
      <td>pupil2</td>
      <td>pword123</td>
    </tr>
  </tbody>
</table>
</form>
{% endif %}
{% if loginfailedmessage %}
{{loginfailedmessage}}
{%endif%}
</div>
{% endblock %}


