{% extends 'index.html' %}

{% block content %}
<h2>Login</h2>
{% if user.is_authenticated %}
<p>You are logged in as {{request.user}}</p>
<form method="post" action="{% url 'user_logout' %}">
{% csrf_token %}
<button type="submit">Logout</button>
</form>
{% else %}
<h4>Demo account details<h4>
<p>To use the app you will need to either log in as a teacher or a student. The teacher can edit which times tables their students study, view their results and print flaschcards. Students can practise the times tables their teacher has set.</p>
<p>Teacher account</p>  
<p style="font-weight: lighter">username:demo_teacher</p>
<p style="font-weight: lighter">password:demowordt1</p>
<p>Student accounts</p>
<p style="font-weight: lighter">username:demo_student1</p>
<p style="font-weight: lighter">password:demowords1</p>
<p style="font-weight: lighter">username:demo_student2</p>
<p style="font-weight: lighter">password:demowords2</p>
<form class="form" method="post" action="{% url 'user_login' %}">
{% csrf_token %}
<p>Username</p>
<input name="username" type="text">
<p>Password</p>
<input name="password" type="password">
<br>
<button type="submit">Login</button>
</form>
{% endif %}
{% if loginfailedmessage %}
{{loginfailedmessage}}
{%endif%}
  
{% endblock %}
